<ion-header>
  <ion-toolbar class="background-color-title">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mensajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label position="floating">Mensaje</ion-label>
          <ion-input [(ngModel)]="busqueda" name="busqueda"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="guardarMensaje()">Guardar mensaje</ion-button>

        <hr>

        <ion-list>
          <ion-item *ngFor="let mensaje of mensajes">
           > {{mensaje}}
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
