<ion-header>
    <ion-toolbar class="background-color-title">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Buscador Paginas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Busqueda</ion-label>
                    <ion-input [(ngModel)]="busqueda" name="busqueda"></ion-input>
                </ion-item>
                <ion-button expand="block" (click)="buscarGoogle()">Buscar en google</ion-button>

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
